html {
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:1028px){
    background: url('./small.png'), #CFA2C7;
}
@media(min-width:1028px){
    background: url('./schedule.png'), #CFA2C7;
}
