body {
    background-repeat: no-repeat;
    background-size: 100% ;
}

@media(max-width:1028px){
    body {
        background: url('small.png'), #CFA2C7;
    }
}
@media(min-width:1028px){
    body {
        background: url('schedule.png'), #CFA2C7;
    }
}
