/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Nova+Cut');
:root {
    --bgColor:#55575b; /* grey */
    --accentColor:#e87db2; /* pink */
    --font: 'Nova Cut', sans-serif;
}
html {
    background: url('schedule.png'), #CFA2C7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
